In [1]:
import pandas as pd

# 读取Excel文件
input_excel_path = '1701表现值.xlsx'
data = pd.read_excel(input_excel_path)

# 计算F1列的均值
F1_mean = data['F1'].mean()
print(F1_mean)
F4_mean = data['F4'].mean()
print(F4_mean)

0.5419012222222223
0.618848828125

In [2]:
data.head()

        F1       F2        F3        F4       F5        F
0  0.00000  1.04385  0.000000  0.532070  0.00000  0.00000
1  0.00000  0.55745  0.640215  1.156105  0.74648  0.00000
2  0.54545  1.04385  0.000000  0.532070  0.61978  0.54545
3  0.00000  1.04385  0.584855  0.532070  1.19013  0.00000
4  0.00000  0.55745  0.444835  1.010205  0.61978  0.00000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F1      45 non-null     float64
 1   F2      94 non-null     float64
 2   F3      70 non-null     float64
 3   F4      64 non-null     float64
 4   F5      61 non-null     float64
 5   F       334 non-null    float64
dtypes: float64(6)
memory usage: 15.8 KB

In [4]:
# 处理F2
# 更新F2列的值为F1列均值加上F2列前面元素的均值
F1=F1_mean
for i in range(0, 94):
    if i==0:
        F2 = data.at[i, 'F2']
        data.at[i, 'F2'] = (F1*F1)/(F1+F2)*F1 + (F2*F2)/(F1+F2)*F2
    else:
        F2 = data['F2'][:i].mean()# 求i之前的均值
        data.at[i, 'F2'] = (F1*F1)/(F1+F2)*F1 + (F2*F2)/(F1+F2)*F2
# Printing the result
data.head()

        F1        F2        F3        F4       F5        F
0  0.00000  0.817616  0.000000  0.532070  0.00000  0.00000
1  0.00000  0.519086  0.640215  1.156105  0.74648  0.00000
2  0.54545  0.378170  0.000000  0.532070  0.61978  0.54545
3  0.00000  0.310647  0.584855  0.532070  1.19013  0.00000
4  0.00000  0.275670  0.444835  1.010205  0.61978  0.00000

In [5]:
data['F2'].mean()

0.23481443245523137

In [6]:
# 处理F3
F2=F1_mean+data['F2'].mean()
print(F2)
for i in range(0, 70):
    if i==0:
        F3 = data.at[i, 'F3']
        data.at[i, 'F3'] = (F2*F2)/(F2+F3)*F2 + (F3*F3)/(F2+F3)*F3
    else:
        F3 = data['F3'][:i].mean()
        data.at[i, 'F3'] = (F2*F2)/(F2+F3)*F2 + (F3*F3)/(F2+F3)*F3
# Printing the result
data.head()

0.7767156546774536

        F1        F2        F3        F4       F5        F
0  0.00000  0.817616  0.603287  0.532070  0.00000  0.00000
1  0.00000  0.519086  0.498660  1.156105  0.74648  0.00000
2  0.54545  0.378170  0.478909  0.532070  0.61978  0.54545
3  0.00000  0.310647  0.471674  0.532070  1.19013  0.00000
4  0.00000  0.275670  0.468034  1.010205  0.61978  0.00000

In [7]:
F2

0.7767156546774536

In [8]:
# 处理F4
F3=F2+data['F3'].mean()
print(F3)

1.2390674006170603

In [9]:
for i in range(0, 64):
    if i==0:
        F4 = data.at[i, 'F4']
        print((F3+F4),"  F3=",F3)
        data.at[i, 'F4'] = (F3*F3)/(F3+F4)*F3 + (F4*F4)/(F3+F4)*F4
    else:
        F4 = data['F4'][:i].mean()
        print((F3+F4),"  F3=",F3,"  F4=",F4," i=",i)
        data.at[i, 'F4'] = (F3*F3)/(F3+F4)*F3 + (F4*F4)/(F3+F4)*F4
# Printing the result
data.head()

1.7711374006170604   F3= 1.2390674006170603
2.3981833169426596   F3= 1.2390674006170603   F4= 1.1591159163255993  i= 1
2.539932851427775   F3= 1.2390674006170603   F4= 1.3008654508107147  i= 2
2.6448706917229736   F3= 1.2390674006170603   F4= 1.4058032911059133  i= 3
2.735841340663151   F3= 1.2390674006170603   F4= 1.4967739400460909  i= 4
2.8206898437876835   F3= 1.2390674006170603   F4= 1.5816224431706232  i= 5
2.90326623102523   F3= 1.2390674006170603   F4= 1.6641988304081696  i= 6
2.985922291181211   F3= 1.2390674006170603   F4= 1.7468548905641506  i= 7
3.070355315292353   F3= 1.2390674006170603   F4= 1.8312879146752925  i= 8
3.1579693573828256   F3= 1.2390674006170603   F4= 1.9189019567657652  i= 9
3.2500615500405146   F3= 1.2390674006170603   F4= 2.0109941494234542  i= 10
3.3479373727206587   F3= 1.2390674006170603   F4= 2.1088699721035984  i= 11
3.4529972540402234   F3= 1.2390674006170603   F4= 2.213929853423163  i= 12
3.5668153507400326   F3= 1.2390674006170603   F4= 2.3277479501229723  i= 13
3.6912234929257526   F3= 1.2390674006170603   F4= 2.4521560923086922  i= 14
3.828411143379462   F3= 1.2390674006170603   F4= 2.5893437427624018  i= 15
3.981053260757191   F3= 1.2390674006170603   F4= 2.741985860140131  i= 16
4.152481691821169   F3= 1.2390674006170603   F4= 2.913414291204109  i= 17
4.346922796906574   F3= 1.2390674006170603   F4= 3.107855396289514  i= 18
4.569836243425211   F3= 1.2390674006170603   F4= 3.330768842808151  i= 19
4.828410902053747   F3= 1.2390674006170603   F4= 3.5893435014366872  i= 20
5.1323105578106105   F3= 1.2390674006170603   F4= 3.8932431571935497  i= 21
5.4948285790996465   F3= 1.2390674006170603   F4= 4.255761178482586  i= 22
5.93473532309962   F3= 1.2390674006170603   F4= 4.69566792248256  i= 23
6.47934650193919   F3= 1.2390674006170603   F4= 5.2402791013221295  i= 24
7.169845501023996   F3= 1.2390674006170603   F4= 5.930778100406935  i= 25
8.070999539278752   F3= 1.2390674006170603   F4= 6.831932138661691  i= 26
9.290015399858197   F3= 1.2390674006170603   F4= 8.050947999241137  i= 27
11.015959560593656   F3= 1.2390674006170603   F4= 9.776892159976596  i= 28
13.61015914046716   F3= 1.2390674006170603   F4= 12.3710917398501  i= 29
17.839475494944423   F3= 1.2390674006170603   F4= 16.600408094327364  i= 30
25.57945627947776   F3= 1.2390674006170603   F4= 24.3403888788607  i= 31
42.438520265116466   F3= 1.2390674006170603   F4= 41.199452864499406  i= 32
91.12584912951708   F3= 1.2390674006170603   F4= 89.88678172890002  i= 33
322.88779780265315   F3= 1.2390674006170603   F4= 321.6487304020361  i= 34
3258.294879818993   F3= 1.2390674006170603   F4= 3257.0558124183763  i= 35
297733.887463285   F3= 1.2390674006170603   F4= 297732.6483958844  i= 36
2396083227.9116654   F3= 1.2390674006170603   F4= 2396083226.672598  i= 37
1.5108460302178787e+17   F3= 1.2390674006170603   F4= 1.5108460302178787e+17  i= 38
5.852963402628523e+32   F3= 1.2390674006170603   F4= 5.852963402628523e+32  i= 39
8.564295148127214e+63   F3= 1.2390674006170603   F4= 8.564295148127214e+63  i= 40
1.788954911810618e+126   F3= 1.2390674006170603   F4= 1.788954911810618e+126  i= 41
7.619903991646037e+250   F3= 1.2390674006170603   F4= 7.619903991646037e+250  i= 42
inf   F3= 1.2390674006170603   F4= inf  i= 43
inf   F3= 1.2390674006170603   F4= inf  i= 44
inf   F3= 1.2390674006170603   F4= inf  i= 45
inf   F3= 1.2390674006170603   F4= inf  i= 46
inf   F3= 1.2390674006170603   F4= inf  i= 47
inf   F3= 1.2390674006170603   F4= inf  i= 48
inf   F3= 1.2390674006170603   F4= inf  i= 49
inf   F3= 1.2390674006170603   F4= inf  i= 50
inf   F3= 1.2390674006170603   F4= inf  i= 51
inf   F3= 1.2390674006170603   F4= inf  i= 52
inf   F3= 1.2390674006170603   F4= inf  i= 53
inf   F3= 1.2390674006170603   F4= inf  i= 54
inf   F3= 1.2390674006170603   F4= inf  i= 55
inf   F3= 1.2390674006170603   F4= inf  i= 56
inf   F3= 1.2390674006170603   F4= inf  i= 57
inf   F3= 1.2390674006170603   F4= inf  i= 58
inf   F3= 1.2390674006170603   F4= inf  i= 59
inf   F3= 1.2390674006170603   F4= inf  i= 60
inf   F3= 1.2390674006170603   F4= inf  i= 61
inf   F3= 1.2390674006170603   F4= inf  i= 62
inf   F3= 1.2390674006170603   F4= inf  i= 63

C:\Users\蒋\AppData\Local\Temp\ipykernel_13552\3340187719.py:9: RuntimeWarning: overflow encountered in scalar multiply
  data.at[i, 'F4'] = (F3*F3)/(F3+F4)*F3 + (F4*F4)/(F3+F4)*F4
C:\Users\蒋\AppData\Local\Temp\ipykernel_13552\3340187719.py:9: RuntimeWarning: invalid value encountered in scalar divide
  data.at[i, 'F4'] = (F3*F3)/(F3+F4)*F3 + (F4*F4)/(F3+F4)*F4

        F1        F2        F3        F4       F5        F
0  0.00000  0.817616  0.603287  1.159116  0.00000  0.00000
1  0.00000  0.519086  0.498660  1.442615  0.74648  0.00000
2  0.54545  0.378170  0.478909  1.615679  0.61978  0.54545
3  0.00000  0.310647  0.471674  1.769686  1.19013  0.00000
4  0.00000  0.275670  0.468034  1.921016  0.61978  0.00000

In [10]:
# 处理F5
#F4=F3+data['F4'].mean()
#print(F4)

In [11]:
'''for i in range(0, 61):
    if i==0:
        F5 = data.at[i, 'F5']
        data.at[i, 'F5'] = (F4*F4)/(F4+F5)*F4 + (F5*F5)/(F4+F5)*F5
    else:
        F4 = data['F5'][:i].mean()
        data.at[i, 'F5'] =  (F4*F4)/(F4+F5)*F4 + (F5*F5)/(F4+F5)*F5
# Printing the result
data.head()
'''

"for i in range(0, 61):\n    if i==0:\n        F5 = data.at[i, 'F5']\n        data.at[i, 'F5'] = (F4*F4)/(F4+F5)*F4 + (F5*F5)/(F4+F5)*F5\n    else:\n        F4 = data['F5'][:i].mean()\n        data.at[i, 'F5'] =  (F4*F4)/(F4+F5)*F4 + (F5*F5)/(F4+F5)*F5\n# Printing the result\ndata.head()\n"